:root {
    --my-yellow: rgb(204, 150, 1);
    --main-background:#e1e2dfda;
}

li::marker
{
    color:var(--my-yellow);
}

body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
header{
    display: flex;
    flex-direction: column;
    width: 100%;
    height:50%;
    background-image: url('images/main_image.jpg');
    background-size: cover;
    background-repeat: no-repeat; 
    background-position: center 40%; 
    padding: 3em;
}
.main{
    background-color:var(--main-background);
    padding-top: 2em;
    padding-bottom: 5em;
    height:auto;
    width: 100%;
}
.depart
{
    font-size:1.5em;
    font-weight: bolder;
    color: rgb(69, 68, 68);
    width:80%;
    margin: 0 auto;
    border-radius: .5em;
    padding: .8em;
}
#logo
{
    height: 6em;
}

#header-text
{
    color: white;
    font-size: 3em;
    font-weight: 300;
    text-align: center;
    margin-inline: auto;
    margin-top: 1.5em;
}
#header-second-text
{
    font-size: 2.5em;
    text-align: center;
    margin-inline: auto;
}
#vacancies-title
{
    font-size: 4em;
    font-weight: bold;
}

.header-button
{
    margin-top: 1em;
    width: 12em;
    height: auto;
    padding-block: 1em;
    border-radius: 1.5em;
    font-weight: bolder;
    position: relative; 
    z-index: 9999;
    text-align: center;
}

.header-buttons-div
{
    width: 50vw;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    gap:5em;
}

.card
{
    display: flex !important;
    width: 30vw;
    height: 6em;
    padding: 1.5em;
    font-size: 1.5em;
    font-weight: bold !important;
    text-align: left;
    justify-content: center !important;
    position: relative; 
    z-index: 9998;
}

.custom-nav-button {
    background-color: #E5E6E4 !important; 
    color: #000000 !important; 
    border-left: 0.2em solid rgb(42, 41, 41) !important;
    border-radius: 0 !important;
    padding: 10px 15px !important; 
    margin-bottom: 30px !important; 
    transition: background-color 0.5s ease, border-left 0.5s ease, box-shadow 0.5s ease !important; 
}

.custom-nav-button:hover {
    background-color: rgb(238, 238, 238)!important;
    border-left: 0.2em solid rgb(248, 182, 0) !important; 
    box-shadow: rgba(0, 0, 0, 0.35) -17px 5px 15px 0px !important;
}


.custom-nav-button.active {
    background-color: rgb(238, 238, 238)!important;
    border-left: 0.2em solid rgb(248, 182, 0) !important;
    box-shadow: rgba(0, 0, 0, 0.35) -17px 5px 15px 0px !important;

}
.tab-content
{
    padding-top: 1em;
}




.tab-content li::before {
    background-color: rgb(248, 182, 0)
}


.card-desc
{
    width: 30vw;
    display: flex;
    flex-wrap: wrap;
}
#card-section
{
    gap:8em !important;
}
.card-desc h3{
    font-weight: bolder;
    animation: increaseText .5s ease forwards;
    margin-bottom:1em ;
}

/* @keyframes increaseText {
    to {
        font-size: 1.85em;
    }
} */
h5{
    font-size: 1.5em !important;
    font-weight: 700 !important;
    color: #336132;
}

.card-desc li{
    font-size: 1.2em !important;
}
footer{
    width: 100%;
    height: auto;
    background-color: #5a9058;
    color:white;
    padding: 3em;
    text-align: center;
}
.footer-button
{
    margin-top:1em ;
    width: auto;
    font-weight: bold !important; 
}

@media screen and (max-width: 1180px) {

    .card-desc h3{
        animation: none;
        margin: 0 auto;
        text-align: center;
        margin-block: 1.5em;
        font-size: 2em;
    }

    #logotype{
        display: none;
    }
    #vacancies-title
    {
        font-size: 3em !important;
    }
    #card-section {
      flex-direction: column !important;
      align-items: center; 
    }
    #card-section
    {
        gap:0 !important;
    }
    .card-desc
    {
        width: 80vw;
        margin-left: 0;
    }
    .card
    {
        width: 80vw;
        margin-right: 0;
    }
    .header-buttons-div
    {
        width:80vw;
    }
    .flex-column
{
    margin-right: 0em;
}
.tab-content
{
    padding-top: 1em;
    margin-left: 0em;
}
}
@media screen and (max-width:830px)
{
    #header-text
    {
        font-size: 2.5em;
    }
    #header-second-text
    {
        font-size:2.3em;
    }
}
@media screen and (max-width: 660px) {
    #header-buttons {
        flex-direction: column !important;
        align-items: center;
        gap: .5em;
        z-index:0;
    }
    .card
    {
        z-index: 0;
    }
    html{
        font-size: 90% !important;
    }
    .card
    {
        font-size: 1.5em;
        width: 75vw;
    }
    .card-desc li
    {
        font-size: 1.4em !important;
    }
    .card-desc h5
    {
        font-size: 1.7em !important;        
    }
    
}
@media screen and (max-width:570px)
{
    #header-second-text
    {
        width: 10em;
    }
}
 @media screen and (max-width: 500px) {
    .card{
        height: auto;
    }
    #vacancies-title
    {
        font-size: 2em;
    }
} 

@media screen and (max-width: 430px) {
    #header-text
    {
        font-size: 2.5em;
    }
    #header-second-text
    {
        font-size: 2em;
        text-align: center;
    }
}
